{{#each this}}
<h2 class="country-title">{{name}}</h2>
<div class="about-country">

<div class="info">
<p class="description">Capital: <span>{{capital}}</span> </p>
<p class="description">Population: <span>{{population}}</span></p>
<ul class="description">Languages:
    {{#each languages}}
    <li><span>{{name}}</span> </li>
    {{/each}}
</ul>
</div>
<img src="{{flag}}" alt="{{name}}">
</div>

{{/each}}